{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": "off",
		"max-params": "off",
		"multiline-comment-style": "off",
		"new-cap": ["error", {
			"capIsNewExceptions": [
				"ArrayBufferCopyAndDetach",
				"DetachArrayBuffer",
				"GetIntrinsic",
				"IsDetachedBuffer",
				"IsResizableArrayBuffer",
				"ToIndex",
			],
		}],
	},

	"overrides": [
		{
			"files": "test/**",
			"globals": {
				"Uint8Array": false,
			},
			"rules": {
				"max-lines-per-function": "off",
			},
		},
	],
}
